.burger {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: -15vw;
	width: 15vw;
	height: 200vh;
	transition: all 1s ease-in-out;
	z-index: 6;
}

.burger.active {
	transition: all 1s ease-in-out;
	left: 0;
}

.burger__icon {
	position: absolute;
	right: -5rem;
	display: flex;
	flex-direction: column;
	width: 4rem;
	height: 8rem;
	margin: 1rem 0 0 2rem;
	cursor: pointer;
	transition: all 1s;
}

.burger__icon > div,
.burger__icon::before,
.burger__icon::after {
	content: "";
	position: relative;
	width: 100%;
	border-radius: 0.3rem;
	margin: 0.6rem;
	border: #000 0.2rem solid;
	transition: all 1s;
	top: 0;
	animation: box-flicker 6s infinite;
}

.burger.active .burger__icon {
	transition: all 1s;
	right: 2rem;
}

.burger.active .burger__icon > div {
	transition: all 1s;
	transform: rotate(45deg);
	margin-top: -1.45rem;
}

.burger.active .burger__icon::before {
	transition: all 1s;
	transform: rotate(-45deg);
	top: -0.3rem;
	margin-top: 2rem;
}

.burger.active .burger__icon::after {
	transition: all 1s;
	top: -1.5rem;
	opacity: 0;
}

.nav {
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: all 1s ease-in-out;
	opacity: 0;
	transition: all 2s;
}

.nav.active {
	opacity: 1;
	transition: all 2s;
}

.nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 30%;
	margin-top: 2vh;
}

.nav__list li {
	list-style-type: none;
}

.nav__list li > a {
	cursor: pointer;
	text-decoration: none;
	font-size: calc(var(--font-size) * 2 / 3);
	color: #000;
}

@keyframes box-flicker {
	0% {
		border-color: rgb(228, 228, 228);
		box-shadow: 0 0 0.1rem rgb(228, 228, 228), 0 0 0.4rem rgb(228, 228, 228),
			0 0 1rem rgb(228, 228, 228);
	}
	25% {
		border-color: rgb(168, 165, 173);
		box-shadow: 0 0 1rem rgb(168, 165, 173), 0 0 0.4rem rgb(168, 165, 173),
			0 0 1rem rgb(168, 165, 173);
	}

	50% {
		border-color: rgb(37, 36, 39);
		box-shadow: 0 0 1rem rgb(37, 36, 39), 0 0 0.4rem rgb(37, 36, 39),
			rgb(37, 36, 39);
	}
	75% {
		border-color: rgb(168, 165, 173);
		box-shadow: 0 0 1rem rgb(168, 165, 173), 0 0 0.4rem rgb(168, 165, 173),
			0 0 1rem rgb(168, 165, 173);
	}

	100% {
		border-color: rgb(228, 228, 230);
		box-shadow: 0 0 0.1rem rgb(228, 228, 230), 0 0 0.4rem rgb(228, 228, 230),
			0 0 1rem rgb(228, 228, 230);
	}
}

@media (max-width: 1200px) {
.burger{
	width: 20vw;
	left: -20vw;
}
}

@media (max-width: 900px) {
.burger{
	width: 30vw;
	left: -30vw;
}
}

@media (max-width: 500px) {
.burger{
	width: 100vw;
	left: -100vw;
}
}