.skills {
	grid-area: skills;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skills__title {
	font-size: calc(var(--font-size) * 2);
}

.skills__list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
}

.skills__item {
	position: absolute;
	left: 0;
	width: 10vw;
	text-align: center;
	transition: all linear 2s, transform ease 1s, scale ease 1s;
	list-style-type: none;
	font-size: var(--font-size);
	cursor: pointer;
}

.skills__item:hover {
	transform: translateY(-2rem);
	scale: 1.2;
}

.slider-right {
	animation: slider-right 2s linear forwards;
}

.slider-left {
	animation: slider-left 2s linear forwards;
}

.skills__svg {
	margin: 0 1vw;
}
.skills__svg0 {
	fill: #e34f26;
}
.skills__svg1 {
	fill: #1572b6;
}
.skills__svg2 {
	fill: #f05032;
}
.skills__svg3 {
	fill: #f7df1e;
}
.skills__svg4 {
	fill: #61dafb;
}
.skills__svg5 {
	fill: #764abc;
}
.skills__svg6 {
	fill: #3178c6;
}

.skills__descr-box {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	transform: scale(0);
	transition: scale 1s;
}

.skills__descr-box.active {
	transform: scale(1);
	transition: scale 1s;
}

.skills__descr-box > article {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	padding: 1vh;
	min-width: 10vw;
	max-width: 30vw;
	min-height: 10vh;
	max-height: 40vh;
	background-color: #fff;
	border-radius: 2rem;
	box-shadow: var(--shadow);
	transform: scale(0);
	transition: all 2s;
	z-index: 2;
}

.skills__descr-box > article.active {
	transform: scale(1);
	transition: all 2s;
}
.skills__descr-box > article > h3 {
	margin: 0 1vw 1vh 0;
	font-size: calc(var(--font-size)*1.25);
}

.skills__descr-box > article > p {
	font-size: calc(var(--font-size));
}

.skills__progress-box {
	position: relative;
	width: 90%;
	height: 3vh;
	box-shadow: var(--shadow);
	border-radius: 1vw;
	margin-bottom: 1vh;
}

.skills__progress-box > span {
	height: 100%;
	color: #fff;
	font-size: calc(var(--font-size));
	border-radius: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skills__progress-html {
	width: 90%;
	background-color: #e34f26;
}

.skills__progress-css {
	width: 85%;
	background-color: #1572b6;
}

.skills__progress-git {
	width: 80%;
	background-color: #f05032;
}

.skills__progress-js {
	width: 60%;
	background-color: #f7df1e;
}

.skills__progress-react {
	width: 60%;
	background-color: #61dafb;
}

.skills__progress-redux {
	width: 50%;
	background-color: #764abc;
}

.skills__progress-ts {
	width: 30%;
	background-color: #3178c6;
}

@keyframes slider-right {
	0% {
		transform: rotate3d(0, 1, 0, 70deg);
		margin-left: 10vw;
		opacity: 0;
	}
	100% {
		transform: rotate3d(0, 1, 0, 0);
		margin-left: 0;
		opacity: 1;
	}
}

@keyframes slider-left {
	0% {
		transform: rotate3d(0, 1, 0, 0);
		opacity: 1;
	}
	100% {
		transform: rotate3d(0, 1, 0, 70deg);
		opacity: 0;
	}
}

@media (max-width: 800px) {
	.skills__title {
		font-size: calc(var(--font-size) * 1.5);
	}
	.skills__list {
		width: 80%;
	}
	.skills__descr-box > article {
		min-width: 10vw;
		max-width: max-content;
		min-height: 10vh;
		max-height: max-content;
	}
}
