* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	text-shadow: var(--shadow);
	scroll-behavior: smooth;
	--font-size: 3vw;
	--shadow: 0 0 1em rgb(124, 124, 160), 0 0 0.2em rgb(141, 141, 165);
	
}

body {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 100vh 130vh 40vh max-content 20vh;
	grid-template-areas:
		"header header header"
		". about-me . "
		". skills ."
		". projectList .";
}

.burger {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: -15vw;
	width: 15vw;
	transition: all 1s ease-in-out;
	z-index: 6;
}

.burger.active {
	transition: all 1s ease-in-out;
	left: 0;
}

.burger__icon {
	position: absolute;
	right: -6rem;
	display: flex;
	flex-direction: column;
	width: 3vw;
	height: 2rem;
	margin: 1rem 0 0 1rem;
	cursor: pointer;
}

.burger__icon > div,
.burger__icon::before,
.burger__icon::after {
	content: "";
	position: relative;
	width: 100%;
	border-radius: 0.3rem;
	margin: 0.6rem;
	border: #000 4px solid;
	transition: transform margin 1s;
	top: 0;
	animation: box-animate 6s infinite;
}

.burger.active .burger__icon > div {
	transition: transform margin 1s;
	transform: rotate(45deg);
	margin-top: -1.45rem;
}

.burger.active .burger__icon::before {
	transition: transform margin 1s;
	transform: rotate(-45deg);
	margin-top: 2rem;
}

.burger.active .burger__icon::after {
	transition: transform margin 1s;
	top: -1.5rem;
	opacity: 0;
}

.nav {
	width: 100%;
	height: 100vh;
	background-color: #fff;
	transition: all 1s ease-in-out;
	opacity: 0;
	transition: all 2s;
}

.nav.active {
	opacity: 1;
	transition: all 2s;
}

.nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 2vh;
}

.nav__list li {
	list-style-type: none;
}

.nav__list li > a {
	cursor: pointer;
	text-decoration: none;
	font-size: calc(var(--font-size) * 2 / 3);
	color: red;
}

.header {
	grid-area: header;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: url(../Images/dragon.jpg) center no-repeat;
	background-size: cover;
	z-index: 3;
}

.header__name {
	cursor: default;
	position: absolute;
	margin: auto;
	font-size: calc(var(--font-size) * 2);
	font-weight: 700;
	font-family: "Courier New", Courier, monospace;
	animation: animate 6s infinite;
	z-index: 5;
}

.header__owerlay {
	width: 2%;
	height: 100%;
	opacity: 1;
	background: url(../Images/tower.jpg) center no-repeat;
	background-size: cover;
	list-style-type: none;
	background-attachment: fixed;
	transition: all 3s;
	z-index: 4;
}

.header__owerlay:hover {
	transition: all 0s;
	opacity: 0;
}

.about-me {
	grid-area: about-me;
	display: grid;
	grid-template-columns: repeat(2, minmax(15rem, 1fr));
	grid-template-rows: 1fr 2fr 3fr 3fr;
	grid-template-areas:
		"am-title am-title"
		"am-photo pers-data"
		"am-photo education"
		"am-descr am-descr";
	grid-gap: 3rem;
	align-items: center;
	margin: 5vh 0;
}

.about-me > article,
.about-me > img {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	box-shadow: var(--shadow);
	font-size: calc(var(--font-size) * 2 / 3);
}

.about-me > article {
	padding: 2rem;
}

.about-me__title {
	grid-area: am-title;
	font-size: var(--font-size);
}

.about-me__photo {
	grid-area: am-photo;
	position: relative;
	object-fit: cover;
	overflow: hidden;
	opacity: 0;
	left: -30vw;
	transition: all 1s;
}

.about-me__pers-data {
	grid-area: pers-data;
	position: relative;
	opacity: 0;
	right: -30vw;
	transition: all 1s;
}

.about-me__education {
	grid-area: education;
	position: relative;
	opacity: 0;
	right: -30vw;
	transition: all 1s;
}

.about-me__education.elem-show,
.about-me__pers-data.elem-show,
.about-me__photo.elem-show,
.about-me__descr.elem-show {
	opacity: 1;
	right: 0;
	bottom: 0;
	left: 0;
}

.about-me__descr {
	grid-area: am-descr;
	position: relative;
	opacity: 0;
	bottom: -10vw;
	transition: all 1s;
}

.skills {
	grid-area: skills;
}

.skills__list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	
}

.skills__item {
	position: absolute;
	left: 0;
	width: 10vw;
	text-align: center;
	transition: all linear 2s;
	list-style-type: none;
	font-size: var(--font-size);
	cursor: pointer;
}

.transparent {
	opacity: 0;
}

.slider-right {
	animation: slider-right 2s linear forwards;
}

.slider-left {
	animation: slider-left 2s linear forwards;
}

@keyframes slider-right {
	0% {
		transform: rotate3d(0, 1, 0, 70deg);
		margin-left: 10vw;
		opacity: 0;
	}
	100% {
		transform: rotate3d(0, 1, 0, 0);
		margin-left: 0;
		opacity: 1;
	}
}

@keyframes slider-left {
	0% {
		transform: rotate3d(0, 1, 0, 0);
		opacity: 1;
	}
	100% {
		transform: rotate3d(0, 1, 0, 70deg);
		opacity: 0;
	}
}

@keyframes animate {
	0% {
		color: rgb(202, 33, 224);
		text-shadow: 0 0 0.1rem rgb(224, 33, 97), 0 0 0.4rem rgb(202, 33, 224),
			0 0 1rem rgb(188, 42, 207);
	}
	25% {
		color: rgb(92, 17, 189);
		text-shadow: 0 0 1rem rgb(92, 17, 189), 0 0 0.4rem rgb(92, 17, 189),
			0 0 1rem rgb(132, 44, 248);
	}

	50% {
		color: rgb(45, 3, 161);
		text-shadow: 0 0 1rem rgb(45, 3, 161), 0 0 0.4rem rgb(45, 3, 161),
			rgb(100, 49, 241);
	}
	75% {
		color: rgb(92, 17, 189);
		text-shadow: 0 0 1rem rgb(92, 17, 189), 0 0 0.4rem rgb(92, 17, 189),
			0 0 1rem rgb(132, 44, 248);
	}

	100% {
		color: rgb(202, 33, 224);
		text-shadow: 0 0 0.1rem rgb(224, 33, 97), 0 0 0.4rem rgb(202, 33, 224),
			0 0 1rem rgb(188, 42, 207);
	}
}

@keyframes box-animate {
	0% {
		border-color: rgb(202, 33, 224);
		box-shadow: 0 0 0.1rem rgb(224, 33, 97), 0 0 0.4rem rgb(202, 33, 224),
			0 0 1rem rgb(188, 42, 207);
	}
	25% {
		border-color: rgb(92, 17, 189);
		box-shadow: 0 0 1rem rgb(92, 17, 189), 0 0 0.4rem rgb(92, 17, 189),
			0 0 1rem rgb(132, 44, 248);
	}

	50% {
		border-color: rgb(45, 3, 161);
		box-shadow: 0 0 1rem rgb(45, 3, 161), 0 0 0.4rem rgb(45, 3, 161),
			rgb(100, 49, 241);
	}
	75% {
		border-color: rgb(92, 17, 189);
		box-shadow: 0 0 1rem rgb(92, 17, 189), 0 0 0.4rem rgb(92, 17, 189),
			0 0 1rem rgb(132, 44, 248);
	}

	100% {
		border-color: rgb(202, 33, 224);
		box-shadow: 0 0 0.1rem rgb(224, 33, 97), 0 0 0.4rem rgb(202, 33, 224),
			0 0 1rem rgb(188, 42, 207);
	}
}

@media (max-width: 700px) {
	:root {
		--font-size: 4vw;
	}
}
