@import url(skills.css);
@import url(about-me.css);
@import url(burger.css);
@import url(header.css);
@import url(contacts.css);

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	text-shadow: var(--shadow);
	scroll-behavior: smooth;
	--font-size: 2vw;
	--shadow: 0 0 1rem rgb(124, 124, 160), 0 0 0.2rem rgb(141, 141, 165);
}

body {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 100vh 100vh 40vh 40vh;
	grid-template-areas:
		"header header header"
		". about-me . "
		". skills ."
		". contacts .";
}

@media (max-width: 800px) {
	body {
		grid-template-columns: 1fr 10fr 1fr;
		grid-template-rows: 100vh max-content 30vh 40vh;
	}
	

	
}